<!-- Footer -->
<div class="dashboard-footer-spacer"></div>
<div class="small-footer margin-top-15">
    <div class="small-footer-copyrights">
        © @DateTime.Now.Year <strong>Rabotilnik - <a href="#" target="_blank">Bug Breakers</a></strong>
    </div>
    <div class="clearfix"></div>
</div>
<!-- Footer / End -->
